header {
    display: grid;
    justify-items: center;
    gap: 1rem;
    padding: 1rem;
}

input {
    text-align: center;
    padding: .2rem .5rem;
    border-style: none;
    border-radius: .5rem;
    width: 40vw;
}

header p {
    color: rgba(255, 0, 255, .7);
}

button {
    background-color: inherit;
    border-style: none;
    border: .1rem solid whitesmoke;
    border-radius: .75rem;
}

button:hover {
    background-color: rgba(255, 0, 255, .5);
}