header {
    display: grid;
    justify-items: center;
    gap: 1rem;
    padding: 1rem;
}

#slider {
    display: flex;
    gap: .5rem;
    padding: .5rem 2rem;
    width: 80vw;
}

#slider input {
    width: 100%;
    text-align: center;
    border-style: none;
    border-radius: .5rem;
    width: 100%;
}

button {
    background-color: inherit;
    border-style: none;
    border: .1rem solid whitesmoke;
    border-radius: .75rem;
    padding: .7rem .7rem .5rem .7rem;
}

button:hover {
    background-color: hsla(213deg, 100%, 50%, .7);
}

